# vim: ft=sh
export EDITOR="nvim"

# nnn-related aliases
export NNN_USE_EDITOR=1
export NNN_SSHFS_OPTS="sshfs -o follow_symlinks"

# ssh-related aliases
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"
export SSH_KEY_PATH="~/.ssh/rsa_id"

# custom bin loacitons
export PATH="$PATH:$HOME/.local/bin:$HOME/.cargo/bin"

# theos
export THEOS=/opt/theos
