[include]
    path = ~/.git-user

[alias]
    st  = status
    ci  = commit --verbose
    co  = checkout
    df  = diff
    lg  = log -p
    ap  = add --patch
    dfh = diff HEAD
    dft = difftool
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[pull]
	rebase = true
[commit]
	gpgsign = true
[credential]
	helper = store
[core]
	autocrlf = false

[diff]
	external = difft
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true
