[include]
    path = ~/.gitcredentials
[core]
    editor="nvim"
[init]
    defaultBranch = main
[alias]
    st  = status
    ci  = commit --verbose
    co  = checkout
    df  = diff
    lg  = log -p
    ap  = add --patch
    dfh = diff HEAD
[credential]
	helper = store
[pull]
    rebase = true
